@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
:root{
  --primary-color:#7065EF;
  --bg-color:#F8F7FD;
  --logo-color:#150e80;
  --secondary-color:rgb(22, 22, 22);

  --ff-primary:'Merriweather', serif;
  --ff-secondary:'Work Sans', sans-serif;
}

body{
  background-color: var(--bg-color);
}
.nav-links{
  font-size: 1.7rem;
  color: var(--secondary-color);
  font-family: var(--ff-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}
.h{
  box-shadow: 0px 0px 10px 0px rgba(165, 165, 165, 0.205);
}