@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
:root{
  --primary-color:#7065EF;
  --bg-color:#f8f7fde5;
  --logo-color:#150e80;
  --secondary-color:rgb(22, 22, 22);
  --text-color:rgba(58, 58, 57, 0.644);

  --ff-primary:'Merriweather', serif;
  --ff-secondary:'Work Sans', sans-serif;
}

body{
  background-color: var(--bg-color);
}
.nav-links{
  font-size: 1.7rem;
  color: var(--secondary-color);
  font-family: var(--ff-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}
.selector{
  border: 1px solid #d8d7e6;
  padding: .7rem 1rem;
  border-radius: .4rem;
}

.selector:focus{
  outline: none;
  border: 1px solid var(--primary-color);
}

form {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

form label,
form select{
  font-family: var(--ff-secondary);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  text-transform: capitalize;
}

form select{
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
}
